<h1>Editing Registration Company</h1>

<%= render 'form', registration_company: @registration_company %>

<%= link_to 'Show', @registration_company %> |
<%= link_to 'Back', registration_companies_path %>
