<style>
  .jumbotron {
    background-color: #f4511e; /* Orange */
    color: #ffffff;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }

  footer .glyphicon {
   font-size: 20px;
   margin-bottom: 20px;
   color: #f4511e;
  }

</style>


<div class="container-fluid">
<div class="jumbotron text-center">
  <h1>Tullys Kennel</h1>
  <p>We specialize in puppies</p>

</div>

<footer class="text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>&copy;Copyright Tullys Kennel</p>
  <p>Omaha Ne</p>
  <div>________________</div>
  <br><br>
</footer>
</div>
